<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Główna strona</title>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"/>
    <script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/main.css}"/>
    <style th:inline="text">
        body{
            background: url("https://www.downloadwallpapers.info/preview/2016/07/21/98999_background-metal-scratches-surface_1920x1200_h.jpg")
            no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            background-size: cover;
            -o-background-size: cover;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="alert alert-info" th:if="${messageDto.messeges !=null}">
        <p th:each="message : ${messageDto.messeges}" th:text="${message}"></p>
    </div>
    <div class="row justify-content-center mt-2 mb-2 ">
        <div class="col-2 " >
            <a th:href="@{/login}" class="btn btn-primary">Zaloguj się </a>
        </div>
    </div>
    <div class="row justify-content-center mt-2 mb-2 ">
        <div class="col-3 " >
            <a th:href="@{/}" class="btn btn-primary">Powrót do strony głównej </a>
        </div>
    </div>
</div>
</div>

</body>
</html>